body{
    font-family: 'Roboto', sans-serif;
    background-color: yellow;
}
h1{
    color: black;
    text-align: center;
}
ul{
    font-family: 'Borel', cursive;
}
ul li:first-child{
    color: blue;
}
ul li:last-child{
     color: tomato;
}
ul li:nth-child(3){
    color: chartreuse;
}

