body{
    margin: 0px;
}
header{

}
div{
    /* width: 1440px; */
    margin-top: 161px;
    height: 421px;
    flex-shrink: 0;
    background: #FAC960;
}
h1{
    padding: 102px 380px 265px 380px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #8A6D2F;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px;
    /* width: 679px; */
    form{
    padding: 158.2px 310px 24.8px 70px;
}
}
